/* you can add any styles you think could improve user's experience */

.product-cont {
    background-color: cornflowerblue;
}

.product {
    display: inline-block;
    margin: 1em;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 5px;
}

img {
    border: 1px solid grey;
    border-radius: 5px;
}

.product:first-child {
    margin-left: 14em;
}

button {
    background-color: blueviolet;
    border: none;
    width: 5em;
    height: 2em;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color: chartreuse;
    cursor: pointer;
}

.cart {
    width: 6em;
    height: 3em;
    background-color: aliceblue;
    text-align: center;
    margin: 1em;
    padding: 0.2em;
}